.pizza {
  height: 4rem;
  width: 4rem;
  border: 2px solid black;
  padding: 0.2rem;
}

.pizza-blue {
  background: blue;
}

.pizza-red {
  background: red;
}

@media (max-width: 1480px) {
  .pizza {
    height: 3rem;
    width: 3rem;
    border: 2px solid black;
    padding: 0.2rem;
  }
}

@media (max-width: 480px) {

  .pizza {
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    padding: 0.2rem;
  }
}
