.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dark-bold {
  font-weight: bold;
  font-size: 2em;
}

.large-button {
  width: 12rem;
  height: 1.8rem;
}

@media (max-width: 480px) {
  .App-header {
    background-color: #222;
    height: 20px;
    padding: 20px;
    color: white;
  }

  .App-title {
    font-size: 1em;
  }

  .App-logo {
    display: none;
  }

  .dark-bold {
      font-weight: bold;
      font-size: 1em;
  }

  .large-button {
    width: 8rem;
    height: 1.4rem;
  }
}
